.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    list-style: none;
}

#logo {
    display: flex;
    margin-right: auto;
}

.right-nav {
    display: flex;
    padding: 4px;
}
