.nav-bar, .footer, .row1 {
    background-color: #1F2937;
}

.header, .footer {
    list-style: none;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
}

#logo {
    display: flex;
    margin-right: auto;
}

.right-nav {
    display: flex;
    padding: 4px;
}

.row1, .row2-box, .row2-boxes, .row3, .row4, .footer {
    display: flex;
    justify-content: center;
}

.row1-box1 {
    overflow-wrap: normal;
    width: 400px;
    height: 300px;
}

.feature-image {
    width: 300px;
    height: 200px;
}

img {
    object-fit: contain;
}

h3 {
    text-align: center;
}

.row2-boxes {
    text-align: center;
    padding: 4px;
}

.row2-box {
    flex-direction: column;
    padding: 8px;
    flex-wrap: wrap;
    width: 200px;
    height: 250px;
    text-align: center;
}

.row2-image {
    width: 150px;
    height: 100px;
}

.author-line {
    display: flex;
    margin-left: auto;
}

.quote {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 600px;
    height: 300px;
}

.call-to-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 250px;
}

h4 {
    margin: 0;
    padding: 0;
}

.sign-up {
    display: flex;
    justify-content: space-between;
}

button {
    width: 100px;
    margin: 0.5rem;
    padding: 0.5rem;
}
